header{
    background-color: $back-color;
    padding-bottom: -20px;
}

main{
    background: $main-color;
    margin-top: -20px;
}
footer {
    background: linear-gradient(#3e4545 55%, rgb(29, 29, 29));
  }

.row{
    
    text-align: center;
}
.sombra{
    background: radial-gradient(white, $main-color);
}
.container{
    display: grid;
    grid-template-columns: 100%;
}